@import "../../../src/assets/style/varibles";
.CharactersViewContainer {
  margin-top: 20px;
  .gridContainer {
    display: flex;
    margin-top: $bigMargin;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 22rem));
    gap: 36px;

    @media screen and (max-width: 640px) {
      display: flex;
      flex-direction: column;
      grid-template-columns: none !important;
      gap: 36px;
    }
  }

  .otherContent {
    padding: 10px;
    border-radius: $imgContainerRadius;
    overflow: hidden;
    border: 1px solid $borderColor;
    max-width: 340px;
    margin: auto;

    img {
      border-radius: $smallImgContainerRadius;
    }

    .content {
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      border-radius: $smallImgContainerRadius;
      border: 1px solid $borderColor;

      .nameText {
        font-size: $fontSizeOtherNameText;
        font-weight: $fontWeightBold;
      }

      .infText {
        display: flex;
        align-items: center;
        font-size: $fontSizeInfText;
        font-weight: $fontWeightMedium;
        gap: 5px;
      }
    }
  }
  .filterContainer {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 10px;
  }
}
