@import "../../../src/assets/style/varibles";
.CharactersViewContainer {
  padding-left: 10px;
  margin-top: 20px;
  h2 {
    @media screen and (max-width: 640px) {
      padding: 15px;
      padding-bottom: 0px;
    }
  }
  .gridContainer {
    display: flex;
    margin-top: $bigMargin;
    justify-content: flex-start;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;

    @media screen and (min-width: 1025px) and (max-width: 1280px) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;
      padding: 10px;
    }

    @media screen and (min-width: 641px) and (max-width: 1024px) {
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      padding: 10px;
    }

    @media screen and (max-width: 640px) {
      display: flex;
      flex-direction: column;
      grid-template-columns: none !important;
      gap: 10px;
    }
  }

  .otherContent {
    padding: 10px;
    border-radius: $imgContainerRadius;
    overflow: hidden;
    border: 1px solid $borderColor;
    max-width: 340px;
    margin: auto;

    img {
      border-radius: $smallImgContainerRadius;
    }

    .content {
      cursor: pointer;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      border-radius: $smallImgContainerRadius;
      border: 1px solid $borderColor;

      .nameText {
        font-size: $fontSizeOtherNameText;
        font-weight: $fontWeightBold;
      }

      .infText {
        display: flex;
        align-items: center;
        font-size: $fontSizeInfText;
        font-weight: $fontWeightMedium;
        gap: 5px;
      }
    }
  }
  .filterContainer {
    margin-top: 10px;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0px;
  }
}
