// _variables.scss

// Colors
$borderColor: #efefef;
$secondaryBorderColor: #efefef;

// Sizes
$containerWidth: 640px;
$imgContainerRadius: 12px;
$smallImgContainerRadius: 10px;
$iconSize: 80px;
$smallIconSize: 40px;
$fontSizeNameText: 22px;
$fontSizeOtherNameText: 18px;
$fontSizeInfText: 14px;
$fontWeightBold: 700;
$fontWeightMedium: 500;
$smallMargin: 20px;
$mediumMargin: 30px;
$bigMargin: 2rem;
