@import "../../../src/assets/style/varibles";

.container {
  display: flex;
  border: 1px solid $borderColor;
  border-top: none;

  @media screen and (max-width: 960px) {
    flex-direction: column !important;
  }
}

.otherContainer {
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
  align-items: center;
  padding: 10px;
  .title {
    margin-bottom: $smallMargin;
  }
  .otherContent {
    margin-bottom: $smallMargin;
    display: flex;
    gap: 1rem;

    .img {
      border-radius: $smallImgContainerRadius;
      width: 100%;
      height: auto;
      object-fit: cover;
      max-width: 100px;
    }

    .nameText {
      font-size: $fontSizeOtherNameText;
      font-weight: $fontWeightBold;
    }

    .infText {
      display: flex;
      align-items: center;
      font-size: $fontSizeInfText;
      font-weight: $fontWeightMedium;
      gap: 5px;
    }
  }
}

.myLove {
  position: relative;

  .hearth {
    position: absolute;
    right: 5%;
    top: 5%;
    width: $smallIconSize;
    height: $smallIconSize;
    z-index: 9;
    border-radius: 100%;
  }
}

// Media Query
@media (max-width: 960px) {
  .container {
    grid-template-columns: 1fr;
  }

  .otherContainer {
    margin-top: $bigMargin;
  }
}
