@import "../../assets/style/varibles";

.gridContainer {
  display: flex;
  margin-top: $bigMargin;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 28rem));
  gap: 36px;
}
