@import "../../assets/style/varibles";

.headerContainer {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: white;
  border-bottom: 0.1rem solid rgba(17, 176, 200, 0.11);
  z-index: 99;
}
