.cardContainer {
  border-right: 1px solid #efefef;
  padding: 10px;
  width: 640px;
  @media screen and (max-width: 960px) {
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #efefef;
  }
  .imgContainer {
    width: 100%;
    position: relative;
    .img {
      border-radius: 12px;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    .hearth {
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 9;
      border-radius: 100%;
    }
  }
  .nameText {
    font-size: 18px;
    font-weight: 700;
  }
  .locationText {
    margin-top: 10px;
    font-size: small;
  }
  span {
    margin: 5px;
  }
  .infoText {
    display: flex;
    font-size: 22px;
    font-weight: 500;
    align-items: center;
  }
}
